.advantages{
    position: relative;
    background-image: url("../../images/bg-image-1.jpg");
    background-size: cover;
}

.advantages-inner{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.adv-item{
    width: 23%;
    text-align: center;
    color: #fff;
}

.adv-item i{
    font-size: 60px;
    display: inline-block;
    margin: 0 auto;
}
 
.adv-item a{
    display: block;
    margin: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.adv-item p{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.8px;
}

.advantages::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    width: 157px;
    background-image: url("../../images/add-g.png");
    margin: 0 auto;
}
.advantages::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 68px;
    width: 157px;
    background-image: url("../../images/add-w.png");
    margin: 0 auto;
}

.adv-item a:hover{
    color: #42b773;
    text-decoration: underline;
    transition: .3s;
}