.services{
    background-color: #f5f5f6;
    position: relative;
}
.services-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.serv-item{
    width: 22%;
    text-align: center;
    margin-bottom: 30px;
}
.serv-item i{
    color: #42b773;
    font-size: 60px;
    display: block;
}
.serv-item a{
    color: #42464f;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 1.2;
    margin: 15px 0;
    display: block;
}
.serv-item p{
    color: #658997;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.serv-item a:hover{
    color: #42b773;
    text-decoration: underline;
    transition: .3s;
}
.serv-item:hover .fa{
    color: #a9dc56;
    transition: .3s;
}
.services::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    width: 157px;
    background-image: url('../../images/serv-item.jpg');
    margin: 0 auto;
}
.services::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 68px;
    width: 157px;
    background-image: url('../../images/add-g.png');
    margin: 0 auto;
}